/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
  margin: 15px;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

.photo-pedro {
  width: 200px;
}

header {
  background-image: url(../img/salle-pop.png);
}

nav {
  display: flex;
  color: red;
  font-size: 20px;
  word-spacing: 160px;
  background-color: white;
  border: 2px;
  border-color: black;
}

.logo {
  display: flex;
  background-color: black;
  width: 400px;
  align-items: center;
}

.decoration {
  width: 150px;
}

footer {
  background-color: black;
  color: white;
  padding: 35px;
}

.logo-reseaux {
  width: 30px;
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 35px;
}

button {
  background-color: red;
  color: white;
}

.last-logo {
  margin-left: 580px;
  width: 200px;
}

.web {
  margin-left: 655px;
}

.intro {
  display: flex;
  text-align: center;
}

h3 {
  display: flex;
  justify-content: center;
}

.menu {
  display: flex;
  justify-content: center;
}

.information-film {
  display: flex;
  justify-content: end;
}

h1 {
  margin-top: 150px;
  margin-bottom: 25px;
}

h5 {
  font-size: 35px;
  color: white;
}
